parameters:
    level: max
    paths:
        - app
        - tests
    bootstrapFiles:
        - bootstrap/app.php
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Call to an undefined method .*#'
        - '#Access to an undefined property .*#'